/** Login Styles **/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    height: auto;
    background: #F7F8F8;
}
header {
    margin-bottom: 40px;
}
header #site-name a{
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
    font-size: 2rem;
    color: black;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #F7F8F8;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
nav a {
    text-decoration: none;
    color: black;
    margin-right: 8px;
}
nav a:hover{
    color: #FAEDB8;
}
nav a.nav-item{
    font-size: 1rem;
    border: 1px solid black;
    margin: auto;
    padding: 8px 12px;
}
nav a.nav-item#login{
    font-size: 1rem;
    color: black;
    background-color: #FAEDB8;
}

.nav-links .btn {
    padding: 0.5rem;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1rem;
}

main {
    margin: auto;
    padding: auto;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-box {
    width: 80%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    padding: 20px;
    background: #acb6e5;
    color: #fff;
    border: 1px solid #4286f4;
    margin-bottom: 20px;
}
#signup-box {
    padding-bottom: 1px;
}
.auth-box h1 {
    align-content: flex-start;
    font-size: 2.2rem;
    border-bottom: 6px solid #4286f4;
    margin-bottom: 50px;
    padding: 13px 0;
    color: #fff;
}
h1#signup-title{
    margin-bottom: 10px;
}
.textbox{
    overflow: hidden;
    width: 100%;
    font-size: 20px;
    padding: 8px 0;
    margin: 0px 0 20px 0;
    border: 1px solid #4286f4;
}
.textbox i {
    width: 10%;
    max-width: 26px;
    align-content: flex-start;
    text-align: center;
    color: #4286f4;
}
.textbox input {
    font-family: 'Indie Flower', cursive;
    width: 80%;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 1.2rem;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.form-btn{
    display:block;
    width:100%;
    text-align:center;
    height:55px;
    line-height:25px;
    border:1px solid transparent;
    border-radius:4px;
    font-weight:600;
    padding:12px 24px;
    margin: 30px 0 20px 0;
    color: #fff;
    font-size: 1.2rem;
    transition:opacity 500ms;
    position:relative;
    user-select:none;
    cursor:pointer;
    opacity:0.95;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
}
.form-btn:focus,.form-btn:hover{
    opacity: 0.7;
}

.btn-login{
    background:#4286f4;
}
.btn-login:hover, btn-login:focus{
    background: #b92b27;  /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); 
}

.btn-register{
    background: #1565C0; 
}
.btn-register:hover, .btn-register:focus{
    background: #1565C0;  /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); 
}
.link{
    font-weight: bold;
}
.link a{
    color: #4286f4;
    text-decoration: none;
}
.link a:hover{
    text-decoration: underline;
}
ul#error-msg{
    background-color: #db4437;
    color: whitesmoke;
    padding: 4px 8px;
    margin: 0 auto;
    list-style-type: none;
    margin-top: -5px;
    margin-bottom: 8px;
    width: 95%;
}
